<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://imageresizefunctionblobtrigger.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7f18368c-2f25-4cd3-8c19-06015980a011/resourcegroups/Storage/providers/Microsoft.Web/sites/ImageResizeFunctionBlobTrigger</ResourceId>
    <UserName>$ImageResizeFunctionBlobTrigger</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://imageresizefunctionblobtrigger.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>